h2{
    color: rgb(23, 6, 99);
    margin: 0;
}
 
.form-group {
    display: flex;
    align-items: center; 
    margin-left: 150px;
    margin-bottom: 5px; 
}
 
.form-group label {
    flex-basis: 100px;   
    text-align: right;   
    margin-right: 10px;  
}
 
 

 
h2{
    color: rgb(231, 12, 12);
    margin: 0;
}
 
.form-group {
    display: flex;
    align-items: center; 
    margin-left: 150px;
    margin-bottom: 5px; 
}
 
.form-group label {
    flex-basis: 100px;   
    text-align: right;   
    margin-right: 10px;  
}
 
 label {
    font-weight: bold;
 }